@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-image: url("snow.jpg");
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.countdown-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  font-size: 4rem;
  margin-top: -10rem;
  font-weight: normal;
}

.big-text {
  font-size: 6rem;
  line-height: 1;
  margin: 1rem 2rem;
  font-weight: bold;
}

.countdown-el {
  text-align: center;
}

.countdown-el span {
  font-size: 1.5rem;
}
